{% extends "layout.html" %}
{% block body %}
  <h1 class="banner">AdYouLation—Vote for Super Bowl XLVII Ads</h1>
  <div class="get-started">
      <p>Vote on the best Superbowl Ad!
          Predict the most popular ad!</p>

      <p>Watch the Superbowl ads, choosing the ones you like the most,
          then vote for the best of the lot by texting to our number.
          See if you can predict the most popular ads!</p>

      <br/>

      <div>
<img src="http://i2.ytimg.com/vi/qil0Eo9mdJ4/default.jpg">
<img src="http://i1.ytimg.com/vi/0x_NrT_MDqU/default.jpg">
<img src="http://i2.ytimg.com/vi/1i7Z9Udkgn0/default.jpg">
<img src="http://i3.ytimg.com/vi/ZcDQj1dkp4I/default.jpg">
<img src="http://i2.ytimg.com/vi/ue5WRTK-Wzc/default.jpg">
<img src="http://i2.ytimg.com/vi/AZq1oRHrlJA/default.jpg">
<img src="http://i2.ytimg.com/vi/u_uFFum5WvQ/default.jpg">
<img src="http://i3.ytimg.com/vi/nrIxX-29pK4/default.jpg">
<img src="http://i3.ytimg.com/vi/jPYXctlAW5Y/default.jpg">
<img src="http://i4.ytimg.com/vi/GqkTp0dwqT0/default.jpg">
<img src="http://i4.ytimg.com/vi/WA7WvYoWwg0/default.jpg">
<img src="http://i2.ytimg.com/vi/MrJ3RpaPAdQ/default.jpg">
    <!--
<img src="http://i4.ytimg.com/vi/gsLatnPx1g0/default.jpg">
<img src="http://i2.ytimg.com/vi/IF6ADLi9Tro/default.jpg">
<img src="http://i3.ytimg.com/vi/fKEK2NdAvO8/default.jpg">
<img src="http://i2.ytimg.com/vi/QXzIUV5QK5U/default.jpg">
<img src="http://i4.ytimg.com/vi/SdSLYeTG2Ig/default.jpg">
<img src="http://i3.ytimg.com/vi/FurkjL907co/default.jpg">
<img src="http://i3.ytimg.com/vi/6R0WhGeRDSI/default.jpg">
<img src="http://i2.ytimg.com/vi/AjU-aGlhYfQ/default.jpg">
<img src="http://i2.ytimg.com/vi/AhjgO8JxwFA/default.jpg">
<img src="http://i1.ytimg.com/vi/h8SfNC9dYQs/default.jpg">
<img src="http://i1.ytimg.com/vi/0IhC9_w7BtU/default.jpg">
<img src="http://i4.ytimg.com/vi/s0gnmg3RORY/default.jpg">
<img src="http://i3.ytimg.com/vi/6MsBhzJoGkI/default.jpg">
<img src="http://i3.ytimg.com/vi/jg-d9xj6rT4/default.jpg">
<img src="http://i2.ytimg.com/vi/m_4wpxJH6gY/default.jpg">
<img src="http://i2.ytimg.com/vi/ImIAvBnqeV4/default.jpg">
    -->
      </div>

      <br/>

      <div>
          <a href="{{ url_for('.vote') }}">
              <button class="btn btn-primary btn-large">Let's get started</button>
          </a>
      </div>
  </div>
{% endblock %}
