{% extends "layout.html" %}
{% block body %}
  <h1 class="banner">AdYouLation—Vote for Super Bowl XLVII Ads</h1>
    {% from "forms/macros.html" import render_field, render_video %}
    <form method="POST" action="{{ url_for(".vote") }}" class="form">
        {{ form.csrf_token }}
        <table>
            <tr>
                <td class="video-choice">{{ render_video(form.video_1) }}</td>
                {% if form.video_2 %}
                <td class="video-between">
                    <div>vs.</div>
                </td>
                <td class="video-choice">{{ render_video(form.video_2) }}</td>
                {% endif %}
            </tr>
        <table>
        <div class="vote">
            <input type="submit" value="Vote" class="btn btn-primary btn-large">
        </div>
    </form>
    <!--
    <p>{{ remaining }}</p>
    <p>ID: {{ id }}</p>
    -->
{% endblock %}
