body {
  max-width: 1024px;
  padding-left: 2em;
  padding-right: 2em;
}

h1.banner {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  /*
  background-color: blue;
  width: 1024px;
  padding: 15px 200px;
  color: yellow;
  */
}

div.get-started {
  width: 500px;
  background-color: orange;
  font-size: 2em;
  padding-left: 2ex;
  padding-right: 2ex;
}

div.get-started a {
  text-decoration: none;
}

td.video-between div,
td.video-choice div {
  margin-right: 30px;
}

td.video-between div {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 100px;
}

td.video-choice div {
  width: 430px;
  padding: 5px 20px 40px 10px;
}

div.video_field li {
  display: inline-block;
  float: left;
  margin: 10px 50px;
}

/*
div.video_field li {
  background-image: url("thumbs-sprite.jpg");
  width: 74px;
  height: 85px;
}

div.video_field ul input[value="up"] {
  background-position: 18px 24px;
}

div.video_field ul input[value="down"] {
  background-position: 18px 156px;
}
*/

div.vote {
  padding: 10px 480px;
}
