.css_check {
  border: 1px solid black;
  padding: 10px;
}

td.video-choice div {
  width: 300px;
  border-style: dotted;
  margin-right: 30px;
  padding: 10px;
}

div.get-started {
  width: 300px;
  background-color: orange;
  font-size: 2em;
  padding-left: 2ex;
  padding-right: 2ex;
}

div.get-started a {
  text-decoration: none;
}
