body {
  max-width: 1024px;
}

h1.banner {
  background-color: blue;
  width: 1024px;
  margin-bottom: 30px;
  padding: 15px 200px;
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

div.get-started {
  width: 500px;
  background-color: orange;
  font-size: 2em;
  padding-left: 2ex;
  padding-right: 2ex;
}

div.get-started a {
  text-decoration: none;
}

td.video-choice div {
  width: 500px;
  border-style: dotted;
  margin-right: 30px;
  padding: 5px 20px 40px 10px;
}

div.video_field li {
  display: inline-block;
  float: left;
  margin: 10px 50px;
}
